

  <%- include("../partials/header"); %>

  <div class="container  fit-form-container margintop">
  <form action="/posts/show/<%= post._id %>/comments" method="POST" class="fit-form">
     <div class="form-group">
       <input type="text" placeholder="the comment" name="text" class="form-control">
     </div>


    <div class="form-group">
     <button class="btn btn-success">Comment!</button>
    </div>
  </form>
  </div>

 <%- include("../partials/footer"); %>