
<%- include("../../partials/header"); %>

<form action="/editprofilePic/<%= user._id %>/edit?_method=PUT" method="POST" class="loginForm">
        <h2 class="lead">Edit you Avatar!</h2>
      <div class="form-group">
          <input type="text" class="form-control" value="<%=user.avatar %>" name="avatar" autofocus = "on">
          <button class="btn btn-block btn-success">Save</button>
      </div>
</form>

<%- include("../../partials/footer"); %>