
<%- include("../partials/header"); %>

<form action="/forgotPass" class="loginForm" method="post">
    <h2>Enter you email please!</h2>
   <div class="form-group">
       <input type="email" class="form-control" placeholder="email address" 
       name="email"  required>
   </div>
 
<div class="form-group">
  <button class="btn btn-primary">Submit</button>
  <a href="/register">not registered?</a>
</div>
</form>

<%- include("../partials/footer"); %>