<%- include("../partials/header"); %>

<form action="/resetPass/<%=token%>" class="loginForm" method="post">
    <h2><legend>Reset your Password!</legend></h2>
 
   <div class="form-group">
    <input type="password" class="form-control" placeholder="New password" name="password" autocomplete="off" required>
</div>
<div class="form-group">
    <input type="password" class="form-control" placeholder="Confirm password" name="confirm" autocomplete="off" required>
</div>
<div class="form-group">
  <button class="btn btn-primary">Save</button>
  <a href="/register">not registered?</a>
</div>
</form>

<%- include("../partials/footer"); %>